<div class="container">
  <h2>What did you buy?</h2>

  <form  class="form-horizontal" name="form" novalidate>
    <div class="form-group">
      <label class="sr-only" for="spendName">Name</label>
      <input type="text" class="form-control" placeholder="What did you buy?" ng-model="spend.name" required="" name="sName">
      <div ng-show="form.$submitted || form.sName.$touched">
        <div ng-show="form.sName.$error.required">Specify your purchase.</div>
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Amount</label>
      <div class="input-group">
        <div class="input-group-addon">&pound;</div>
        <input type="text" class="form-control" placeholder="Amount" ng-model="spend.amount" required=""  name="sAmount" fcsa-number="{  maxDecimals: 2 }"/>
      </div>

      <div ng-show="form.$submitted || form.sAmount.$touched">
        <div ng-show="form.sAmount.$invalid">Enter the amount (no more than 2 decimal places)</div>
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="datepicker">Date</label>

      <input ui-date="dateOptions" required="" name="sDate" ng-model="spend.date" class="form-control" type="text">
      <div ng-show="form.$submitted || form.sDate.$touched">
        <div ng-show="form.sDate.$error.required">Provide a Date</div>
      </div>
    </div>

    <div class="form-group">
      <budget-categories-dropdown chosencategory="spend.category"></budget-categories-dropdown><BR>
    </div>



    <button type="button" ng-click="reset(form)" class="btn btn-primary">Reset</button>
    <button type="submit" ng-click="create(spend)" value="Save" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
  </form>
</div>
<div class="container">
  <div class="row">

    <label class="sr-only" for="searchSpends">Search</label>
    <div class="input-group">

      <input type="text"  id="searchSpends" placeholder="Search" ng-model="searchSpends" />
    </div>
    <table class="table">
      <th>Date</th><th>Name</th><th>Amount</th><th>Category</th><th></th>
      <tr ng-animate="animate" ng-repeat="spend in currentSpends | filter:searchSpends | orderBy: orderBy | limitTo:quantity" class="spend-listing"><td>{{spend.date | date:'fullDate'}}</td><td>{{spend.name}}</td><td>{{spend.amount}}</td><td>{{spend.category }}</td><td><a ng-href="#/spend/{{spend.id}}">edit</a></td></tr>
    </table>
    </div>
</div>

